body {
    box-sizing: border-box;
    margin-top: 0;

}
body * {
    box-sizing: border-box;

    margin: 0 auto;
}

.header{
    position: fixed;
    z-index: 1;
    background: #a0a0a0;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-left: 2px;
}
.logo{
    position: absolute;
    height: 100px;
    left: 0px;
}
.header a{
    height: 98px;
    padding-top: 20px;
}
.header a:hover{
    background-color: #5e5e5e;
}
.nav-nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    transition: 1s linear;
    text-align: center;
}
.aside{

    background-color: #b9b9b9;
    width: 22%;
    position:fixed;
    top:102px;
    left: 10px;
    bottom: 0;
    z-index: 1;
    margin-left: 0px;
}
.menu-item{

    margin-top: 2px;
    background: #a0a0a0;
    font-size: 35px;
    text-align: center;
}
a{
    border:1px solid #a0a0a0;
    width: 100%;
    text-decoration: none ;
    display: inline-block;
    background: #a0a0a0;
    margin-top: 2px;
    color: #ffffff;
}
.aside a:hover{
    background-color: #5e5e5e;
}
.option-show{
    margin-left: 31%;
}
.article {
    position:absolute;
    font-size: 25px;
    top:107px;
    overflow:auto;
   margin: 10px 1% 20px 1%;
    left: 23%;
}
.article img {
    float:left;
    width:40%;
    margin: 0 15px 20px 5px;

}
.article p {
    text-align:justify;
    padding-right:15px;
}
.item-text {
    border: solid 1px #cfcfcf;
    display: inline-block;
    width: 100%;
}
.item-text h2{
    font-size: 40px;
    padding: 2%;
}
.third{
    position: relative;
    top:110 px;
    overflow: hidden;
    max-width: 90%;
}
.third img{
    width: 100%;
}
/*Slider*/
.second{
    /*z-index: -1;*/
    position: relative;
    top:110px;
    display: flex;
    background-color: #5e5e5e;
    max-width: 80%;
    overflow: hidden;
}
.second img{
    max-width:90%;
    height: 500px;
}
.left-button{
    background: transparent;
    padding:0;
    font-size: 60px;
    color: #9f9f9f;
    cursor: pointer;
    width: 50px;
    margin: 0;
    border: hidden;
    min-width: 40px;
    position: absolute;
    margin-top: 250px;
    z-index: 100;
}
.right-button{
     background: transparent;
     padding:0;
     font-size: 60px;
     color: #9f9f9f;
     cursor: pointer;
     width: 50px;
     margin: 0;
     border: hidden;
     min-width: 40px;
     position: absolute;
     margin-left: 94%;
    margin-top: 250px;
    z-index: 100;
 }
.left-button:hover,.right-button:hover{
    background-color: #373737;
}
.slide-left,.slide-right{
    min-width: 100%;

}

.slide-left-enter-active {
    animation: mc_left 1s reverse forwards;
}
.slide-left-leave-active {
    animation: mc_right 1s forwards;
}
.slide-right-enter-active {
    animation: mc_right 1s forwards;
}
.slide-right-leave-active {
    animation: mc_left 1s reverse forwards;
}

@keyframes mc_left {
    from { left:  20%; opacity: 1; }
    to   { left: -100%; opacity: 0; }
}
@keyframes mc_right {
     from { left:  20%; opacity: 1; }
     to   { left: 100%; opacity: 0; }
 }
footer{
    position: fixed;
    justify-content: center;
    background-color: #a0a0a0;
    height: 50px;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
@media screen and (max-width: 970px){
    .aside{
    width: 40%;
}
   .second{
       max-width: 100%;
   }
    .article{
     width: 58%;
     left: 41%;
 }
    .article img   {
        width:93%;
    }
}
@media screen and (max-width: 505px){
    body {
        margin: 0;
    }
    .aside{
        margin: 0;
        width: 100%;
        height: 5%;
        left: 0;
        top:85px;
        display: flex;
    }
    .article{
        width: 100%;
        left: 0;
    }
    .header{
        flex-direction:column ;
        padding: 0;
        height: 80px;
    }
    .logo{
        position: fixed;
        width: 100%;
        display: flex;
        height: 80px;
    }
    .nav-nav{
        z-index: 101;
        opacity: 0.5;
        width: 100%;

    }
    .menu-item{
        width: 48%;
        flex-wrap: wrap;
    }
    .second img{
        width:82%;
        height: 100%;
    }
    .left-button,.right-button{
           min-width: 35px;
        font-size: 40px;
       }
    .second{
        top:100px;
    }
}